# Android studio
/.gradle
/.idea
/app/release/
/build/

/android-vulkan.iml
/app/app.iml
/local.properties

# CMake
/app/.cxx
/app/build

# HLSL SPIR-V
/app/src/main/hlsl/disassm/blob.txt
/app/src/main/hlsl/validation/cs.spv
/app/src/main/hlsl/validation/ps.spv
/app/src/main/hlsl/validation/vs.spv

# Tools
/tools/html-validator/.vscode/
/tools/html-validator/build/

/tools/3ds-max-plugin/.vs/
/tools/3ds-max-plugin/bin/
/tools/3ds-max-plugin/build/

/tools/3ds-max-plugin/3ds-max-plugin.vcxproj.user
/tools/3ds-max-plugin/src/resource.aps
