# Android studio
/.gradle
/.idea
/app/release/
/build/

/android-vulkan.iml
/app/app.iml
/local.properties

# CMake
/app/.cxx
/app/build

# HLSL SPIR-V
/app/src/main/hlsl/disassm/blob.txt
/app/src/main/hlsl/validation/vs.spv
/app/src/main/hlsl/validation/ps.spv

# Tools
/tools/html-validator/.vscode/
/tools/html-validator/build/
