# Android studio
/.gradle/
/.idea/
/.kotlin/
/app/release/
/build/

/android-vulkan.iml
/app/app.iml
/local.properties

# CMake
/app/.cxx
/app/build

# HLSL SPIR-V
/app/src/main/hlsl/disassm/blob.spvasm
/app/src/main/hlsl/validation/blob.spv

# NVIDIA Nsight Graphics config
/app/src/main/assets/imgui.ini

# Tools
/tools/html-validator/.vscode/
/tools/html-validator/build/

/tools/3ds-max-plugin/.vs/
/tools/3ds-max-plugin/bin/
/tools/3ds-max-plugin/build/

/tools/3ds-max-plugin/3ds-max-plugin.vcxproj.user
/tools/3ds-max-plugin/sources/resource.aps

/tools/editor/.vs
/tools/editor/assets
/tools/editor/bin
/tools/editor/build
/tools/editor/editor.vcxproj.user
