@font-face {
    font-family: "BenchFont";
    src: url("../../world-1-1/ui/fonts/trebuc.ttf");
}

#main-widget {
    color: rgb(38, 214, 176);
    font-size: 30px;
    font-family: "BenchFont";
}

.ui-panel {
    position: absolute;
    display: inline-block;
    padding: 0px;
    height: 100%;
    width: 100%;
    left: 15px;
    top: 15px;
}
